#home {
  width: 100%;
  overflow: hidden;

  >div {
    min-height: 100vh;
    margin: auto;
    padding: 4rem 0 6rem 0;
    width: min(80%, 70rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5rem;

    h2 {
      font-weight: 350;
      font-size: 6rem;
    }

    p {
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.scroll {
  color: #8E94AD;
  opacity: 0.8;
  font-size: 14px;
  display: flex;
  gap: 1em;
  align-items: center;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  width: fit-content;

  img {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  }
}

.scroll:hover {
  opacity: 0.5;
  transform: translateY(0.3em);

  img {
    transform: translateY(0.2em);
  }
}