#header {
  transition: all cubic-bezier(0.65, 0, 0.35, 1) 0.5s, height cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  width: 100%;
  height: 4rem;
  position: fixed;
  border-bottom: 1px solid #2d2d2d;
  backdrop-filter: blur(10px);
  background: rgba(24, 27, 26, 0.7);
  z-index: 3000;
  overflow: hidden;
  animation: show-header 0.5s cubic-bezier(0.65, 0, 0.35, 1);

  &.hidden {
    opacity: 0;
  }

  &.open {
    height: 100vh;
  }
}

@keyframes show-header {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

.header-content {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin: auto;
  width: min(80%, 70rem);
  align-items: center;

  .logo {
    height: 1em;
  }
}

.header-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 4rem 0;
  font-size: 1.2rem;
}

.header-center {
  display: flex;
  gap: 2em;
}

.mobile-item {
  display: none;
}

@media (max-width: 700px) {
  .desktop-item {
    display: none;
  }

  .mobile-item {
    display: block;
  }
}