#who {
  width: 100%;
  overflow: hidden;

  >div {
    display: grid;
    width: min(80%, 70rem);
    margin: auto;
    padding-top: 4rem;
    min-height: 100vh;
    min-height: 100svh;
    grid-template-columns: 35% 1fr;
    gap: 9rem;
    align-content: center;

    .img-main-container {
      //border-radius: 0px 7.5rem 0px 0px;

      div {
        border-radius: 50% 50% 0% 50%;
        overflow: hidden;
      }
    }

    .img-main {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }

    .txt-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5rem;
      height: 100%;

      h2 {
        line-height: 0.6em;
        font-size: min(8rem, 16vw);
        font-weight: 700;
      }

      p {
        margin-left: 6px;
        white-space: pre-line;
      }
    }
  }
}

.img-mobile-wrapper {
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;

  .img-mobile {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 790px) {
  #who>div {
    grid-template-columns: 1fr;

    .img-main-container {
      display: none;
    }

    .txt-container {
      gap: 3rem 5rem;

      h2 {
        line-height: 0.8em;
      }
    }
  }

  .title {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;

    .img-mobile {
      display: block;
    }
  }
}