#who {
  width: 100%;
  overflow: hidden;

  >div {
    display: grid;
    width: min(80%, 70rem);
    margin: auto;
    padding-top: 4rem;
    min-height: 100vh;
    grid-template-columns: 30% 1fr;
    gap: 9rem;
    align-content: center;

    .img-main-container {
      border-radius: 0px 7.5rem 0px 0px;
    }

    .img-main {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }

    .txt-container {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      h2 {
        line-height: 0.4em;
      }

      p {
        margin-left: 6px;
        font-size: 18px;
      }
    }
  }
}

.img-mobile {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 790px) {
  #who>div {
    grid-template-columns: 1fr;

    .img-main-container {
      display: none;
    }

    .txt-container {
      gap: 3rem 5rem;

      h2 {
        line-height: 0.8em;
      }
    }
  }

  .title {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 6rem;
    justify-content: space-between;

    .img-mobile {
      display: block;
    }
  }
}