#work {
  width: min(80%, 70rem);
  margin: auto;
}

.project {
  padding-top: 4rem;
  min-height: 100vh;
  display: flex;
}

.card {
  width: 100%;
  //border-radius: 13px;
  //border: solid 1px #4A4A4A;
  //border: solid 20px #2e2e2e;
  height: 70vh;
  margin: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #D2D2D2 !important;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.3s;

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: cubic-bezier(0.65, 0, 0.35, 1) 1s;
  }

  .number {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
    color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: min(2rem, 5vw) min(4rem, 5vw);
    font-size: 78px;
    letter-spacing: 7px;
    line-height: 1em;
    z-index: 20;
    -webkit-text-stroke: #f0dce0 1px;
    color: transparent;
    font-family: var(--noto-sans);
  }

  &:active {
    transform: scale(.98);
  }

  &:hover .bg {
    transform: scale(1.03);
  }
}

.blur {
  overflow: auto;
}

.gradient {
  width: 100%;
  height: 70%;
  background: linear-gradient(180deg, #0F100F 0%, rgba(15, 16, 15, 0.83) 48.54%, rgba(34, 37, 34, 0.00) 100%);
  position: absolute;
  top: 0;
}

.card-content {
  height: 100%;
  padding: 2rem min(4rem, 5vw) 4rem min(4rem, 5vw);
  animation: show-work-title 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes show-work-title {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.desc {
  color: #AEAEAE;
  opacity: 0.6;
  font-size: 14px;
}

.title {
  font-size: 48px;
  font-weight: 500;
  color: #D2D2D2;
}

.roles {
  display: flex;
  color: #AEAEAE;
  font-size: 14px;
  gap: 0.7em;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

.role {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 0.3em 0.6em;
  border-radius: 8px;
  white-space: nowrap;
  backdrop-filter: blur(10px);
}