#project-container {
  width: 100%;
  overflow: hidden;
}

.work-title {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  width: min(80%, 70rem);
  margin: auto;
  display: flex;
  transform: translateY(2.5rem);
  margin-top: 1rem;

  &.open {
    opacity: 0;
  }
}

.project {
  width: min(80%, 70rem);
  margin: auto;
  padding-top: 4rem;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
}

@media (max-width: 768px) {
  .work-title {
    padding: 4rem 0;
    transform: none;
  }

  .project {
    min-height: auto;
    padding-top: 0;
  }
}

.card {
  width: 100%;
  height: 80vh;
  height: 80svh;
  margin: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #e3e3e3 !important;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.3s;

  .bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .bg {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 150%;
    transition: cubic-bezier(0.430, 0.005, 0.000, 1.000) 1.5s;
  }

  .number {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
    color: #e3e3e3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: min(2rem, 5vw) min(4rem, 5vw);
    font-size: 78px;
    letter-spacing: 7px;
    line-height: 1em;
    z-index: 20;
    font-weight: bolder;
    font-family: var(--noto-sans);

    &:after {
      content: '';
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      position: absolute;
      left: 20%;
      top: 20%;
      width: 60%;
      height: 80%;
      background: #00000098;
      z-index: -1;
      filter: blur(40px);
    }
  }

  &:active {
    transform: scale(.98);
  }

  &:hover .bg {
    transform: scale(1.03);
  }

  @keyframes blur {
    0% {
      filter: blur(0px)
    }

    50% {
      filter: blur(5px)
    }

    100% {
      filter: blur(0px)
    }
  }
}

.blur {
  overflow: auto;
}

.gradient {
  width: 100%;
  height: 20rem;
  background: linear-gradient(hsl(180, 3%, 7%) 0%,
      hsla(180, 3%, 7%, 0.738) 9%,
      hsla(180, 3%, 7%, 0.541) 24%,
      hsla(180, 3%, 7%, 0.382) 37%,
      hsla(180, 3%, 7%, 0.278) 46.5%,
      hsla(180, 3%, 7%, 0.194) 55%,
      hsla(180, 3%, 7%, 0.126) 63%,
      hsla(180, 3%, 7%, 0.075) 70.2%,
      hsla(180, 3%, 7%, 0.042) 76.1%,
      hsla(180, 3%, 7%, 0.021) 81%,
      hsla(180, 3%, 7%, 0.008) 85.2%,
      hsla(180, 3%, 7%, 0.002) 88.2%,
      hsla(180, 3%, 7%, 0) 100%);
  ;
  opacity: 0.5;

  position: absolute;
  top: 0;
}

.card-content {
  height: 100%;
  padding: 3rem min(4rem, 5vw) 4rem min(4rem, 5vw);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.desc {
  color: #ffffff;
  font-size: 14px;
  position: relative;
  width: fit-content;
  opacity: 1;

  &:after {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #00000098;
    z-index: -1;
    filter: blur(40px);
  }
}

.title {
  font-size: 52px;
  font-weight: 500;
  color: #fff;
  position: relative;
  width: fit-content;
  z-index: 1;

  &:after {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #00000073;
    z-index: -1;
    filter: blur(40px);
  }
}

.roles {
  display: flex;
  color: #f2f2f2;
  font-size: 14px;
  gap: 0.7em;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

.role {
  transition: background-color cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
  background-color: rgba(69, 69, 69, 0.477);
  padding: 0.3em 0.6em;
  border-radius: 8px;
  white-space: nowrap;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 2;

  &:after {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    content: '';
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 80%;
    background: #00000098;
    z-index: -1;
    filter: blur(40px);
  }
}

@media (max-width: 700px) {
  .card {
    height: 50vh;
    height: 50svh;

    /*
    .blur {
      overflow: hidden;
    }
    */
  }
}

.button {
  background: #BCB7B0b5;
  border-color: #A09C97;
  border: solid 2px #A09C97;
  font-weight: 500;
}

.card:active {
  transform: none;
}

#project-container {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
}

.project {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;

  &.inner .bg {
    transform: none;
  }

  .blur::-webkit-scrollbar-thumb {
    background-color: #A4A19A;

    &:active {
      background-color: #868686;
    }
  }

  .desc,
  .title,
  .roles,
  .project,
  .card,
  .blur,
  .card-content {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  }

  .card-content {
    height: fit-content;
    padding-right: calc(min(4rem, 5vw) - 10px);
    animation: none;
  }

  .gradient {
    transition: cubic-bezier(0.65, 0, 0.35, 1) .5s;
  }

  .back {
    opacity: 0;
  }

  button:hover {
    border-color: #A09C97;
    color: #262626;
    background: #b0ada8;

    path {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.3s;
    }

    path {
      fill: #262626;
    }
  }

  .project-detail {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: min(10rem, 30vw);
    margin-top: 4rem;

    .detail-container {
      display: grid;
      gap: min(10rem, 30vw);
    }

    p {
      white-space-collapse: break-spaces;
    }

    .project-desc {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: min(50rem, 100%);

      p {
        font-size: x-large;
      }
    }

    .project-about {
      width: 100%;
      display: grid;
      gap: 4rem;

      >div {
        border-radius: 13px;
      }

      .first-image {
        width: 100%;
        height: auto;
        border-radius: 13px;
      }

      .about-content {
        background-color: #C5C0B8;
        border-radius: 13px;
        padding: 2rem min(3rem, 6vw);
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .about {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }

        .about-sub {
          display: grid;
          gap: 2rem 4rem;
          font-weight: 500;

          h4 {
            font-size: 0.9em;
            margin-bottom: 1rem;
            opacity: 0.7;
            font-family: var(--Darker_Groterque);
            font-weight: 700;
          }

          >div {
            line-height: 1.5em;
          }

          a {
            display: flex;
            gap: 0.5em;
            align-items: center;
            text-decoration: underline;
            width: fit-content;

            path {
              transition: cubic-bezier(0.65, 0, 0.35, 1) 0.3s;
            }

            &:hover path {
              fill: var(--background-color);
            }
          }
        }
      }
    }

    .project-image {
      border-radius: 13px;
      overflow: hidden;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.07);

      img {
        width: 100%;
        height: auto;
        border-radius: 13px;
      }
    }

    .next-project {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    .next-name .gradient {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
      position: absolute;
      left: 0;
      top: 0;
    }

    .next-container {
      width: 100%;
      height: 45vh;
      height: 45svh;
      position: relative;
      cursor: pointer;
      border-radius: 13px;
      overflow: hidden;
      border: solid rgba(209, 209, 209, 0.5)1px;
      transition: cubic-bezier(0.65, 0, 0.35, 0.95) 0.4s;
      border: solid 2px #a09c97aa;

      &:active {
        transform: scale(.98);
      }

      * {
        color: #F3F3F3;
      }

      .next-name {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 3rem min(4rem, 5vw) 4rem min(4rem, 5vw);
        transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
        gap: .5rem;
        display: flex;
        flex-direction: column;
      }

      .next-image {
        background-color: #575757;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      }

      &:hover {

        img {
          transform: scale(1.03);
        }
      }
    }
  }

  .back {
    position: absolute;
    top: 2rem;
    right: min(4rem, 5vw);
    padding: 1px 1em 0 1em;
    z-index: 300;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 14px;
  }
}

.project.open {
  padding-top: 2rem;
  width: min(90%, 90rem);

  * {
    color: #262626;
  }

  .card {
    height: calc(100vh - 2rem);
    height: calc(100svh - 2rem);
    border-radius: 5px 5px 0 0;
    border: solid 0px #2e2e2e;
    border-color: transparent;
    cursor: auto;

    .number {
      opacity: 0;
    }
  }

  .blur {
    backdrop-filter: blur(0);
    background-color: var(--background-light);
    height: 100%;
    overflow-x: hidden;
  }

  .gradient {
    opacity: 0;
  }

  .next-name .gradient {
    opacity: 0.5;
  }

  .back {
    opacity: 1;
  }

  .project-detail {
    opacity: 1;
    transition-delay: 0;
  }

  .role:not(.next-container .role) {
    background-color: #C5C0B8;
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.9s;

    &:after {
      opacity: 0;
    }
  }

  .title:after {
    opacity: 0;
  }

  .desc:after {
    opacity: 0;
  }
}

#project-container.landing .project.open {
  width: calc(min((100%) * 0.9, 90rem));
  //transform: translateX(5px) !important;

  .card {
    clip-path: none !important;
  }

  .back {
    animation: show-back cubic-bezier(0.65, 0, 0.35, 0.95) 1s forwards;
  }

  @keyframes show-back {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

#project-container {
  .next-title {
    height: 22px;
  }

  margin: auto;
}

.project.next {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  //width: min((100% - 10px) * 0.8, 70rem);
  //width: min((80% - 10px), 70rem);
  //padding-top: 4rem;

  .card {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    //height: 80svh;
    //margin: auto;
    //border-radius: 0;
  }

  .role {
    background: #C5C0B8;

    &:after {
      opacity: 0;
    }
  }

  .back {
    opacity: 0;
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  }


  .card-content {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    padding: 0;
    position: absolute;
    bottom: 0;
    animation: no-scrollbar cubic-bezier(0.65, 0, 0.35, 1) 0.8s;

    @keyframes no-scrollbar {
      0% {
        margin-right: 10px;
      }

      100% {
        margin-right: 0;
      }
    }

    .project-image {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
      opacity: 0;
    }
  }

  .next-project {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    gap: 0;

    .next-title {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
      height: 0;
      opacity: 0;
    }

    .next-name {
      .gradient {
        opacity: 1;
      }

      .number {
        opacity: 1;
      }
    }

    .next-container {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      height: calc(100vh - 2rem);
      cursor: auto;
      border-radius: 0;
      border: solid rgba(209, 209, 209, 0) 1px;

      &:hover {

        img {
          transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
          transform: scale(1);
        }
      }

      * {
        color: var(--background-color);
      }

      .next-image {
        transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
        opacity: 0;
      }

      .gradient {
        transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
        opacity: 0;
      }
    }
  }
}

@media (min-width: 1000px) {
  .project-about {
    grid-template-columns: 40% 1fr;
  }
}

@media (min-width: 700px) {
  .about-sub {
    grid-template-columns: 1fr 1fr;
  }

  .project.close {
    transform: translateX(-5px) !important;
  }
}

@media (max-width: 700px) {
  .project .card-content {
    padding-right: min(4rem, 5vw);
  }

  .project.next {

    .card-content {
      animation: none;
    }
  }
}

@media (max-width: 400px) {
  .website-btn {
    width: 100%;

    .button {
      width: 100%;
      justify-content: center;
    }
  }
}