#project-container {
  width: 100%;
  overflow: hidden;
}

.project {
  width: min(80%, 70rem);
  margin: auto;
  padding-top: 4rem;
  min-height: 100vh;
  display: flex;
}

.card {
  width: 100%;
  height: 70vh;
  margin: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #D2D2D2 !important;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.3s;

  .bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .bg {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: cubic-bezier(0.430, 0.005, 0.000, 1.000) 1.5s;
  }

  .number {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
    color: #D2D2D2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: min(2rem, 5vw) min(4rem, 5vw);
    font-size: 78px;
    letter-spacing: 7px;
    line-height: 1em;
    z-index: 20;
    font-weight: bolder;
    font-family: var(--noto-sans);

    &:after {
      content: '';
      position: absolute;
      left: 20%;
      top: 20%;
      width: 60%;
      height: 80%;
      background: #00000098;
      z-index: -1;
      filter: blur(40px);
    }
  }

  &:active {
    transform: scale(.98);
  }

  &:hover .bg {
    transform: scale(1.03);
  }

  @keyframes blur {
    0% {
      filter: blur(0px)
    }

    50% {
      filter: blur(5px)
    }

    100% {
      filter: blur(0px)
    }
  }
}

.blur {
  overflow: auto;
}

.gradient {
  width: 100%;
  height: 20rem;
  background: linear-gradient(180deg, #0F100F 0%, rgba(15, 16, 15, 0.83) 48.54%, rgba(34, 37, 34, 0.00) 100%);
  position: absolute;
  top: 0;
}

.card-content {
  height: 100%;
  padding: 2rem min(4rem, 5vw) 4rem min(4rem, 5vw);
}

.desc {
  color: #AEAEAE;
  opacity: 0.6;
  font-size: 14px;
}

.title {
  font-size: 48px;
  font-weight: 500;
  color: #D2D2D2;
}

.roles {
  display: flex;
  color: #AEAEAE;
  font-size: 14px;
  gap: 0.7em;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

.role {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 0.3em 0.6em;
  border-radius: 8px;
  white-space: nowrap;
  backdrop-filter: blur(10px);
}

@media (max-width: 700px) {
  .card {
    height: 60vh;

    .blur {
      overflow: hidden;
    }
  }
}

.button {
  background: rgb(68 68 68 / 70%);
}

.card:active {
  transform: none;
}

#project-container {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
}

.project {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;

  &.inner .bg {
    transform: none;
  }

  .blur::-webkit-scrollbar-thumb {
    background-color: #555555;

    &:active {
      background-color: #868686;
    }
  }

  .desc,
  .title,
  .roles,
  .project,
  .card,
  .blur,
  .card-content {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  }

  .card-content {
    height: fit-content;
    padding-right: calc(min(4rem, 5vw) - 10px);
    animation: none;
  }

  .gradient {
    transition: cubic-bezier(0.65, 0, 0.35, 1) .5s;
  }

  .back {
    opacity: 0;
  }

  button:hover {
    border-color: #8E94AD;
    color: #8E94AD;
    color: #a5afd8;

    path {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.3s;
    }

    path {
      fill: #a5afd8;
    }
  }

  .project-detail {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: min(10rem, 30vw);
    margin-top: 4rem;

    .detail-container {
      display: grid;
      gap: min(10rem, 30vw);
    }

    p {
      white-space-collapse: break-spaces;
    }

    .project-desc {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: min(35rem, 100%);
    }

    .project-about {
      width: 100%;
      display: grid;
      gap: 4rem;

      >div {
        border-radius: 13px;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.07);
      }

      .first-image {
        width: 100%;
        height: auto;
        border-radius: 13px;
      }

      .about-content {
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.07);
        border-radius: 13px;
        padding: 2rem min(3rem, 6vw);
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .about {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          h3 {
            opacity: 0.7;
          }
        }

        .about-sub {
          display: grid;
          gap: 2rem 4rem;

          h4 {
            margin-bottom: 1rem;
            opacity: 0.7;
          }

          >div {
            line-height: 1.5em;
          }

          a {
            display: flex;
            gap: 0.5em;
            align-items: center;
            text-decoration: underline;
            width: fit-content;

            path {
              transition: cubic-bezier(0.65, 0, 0.35, 1) 0.3s;
            }

            &:hover path {
              fill: #8E94AD;
            }
          }
        }
      }
    }

    .project-image {
      border-radius: 13px;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.07);

      img {
        width: 100%;
        height: auto;
        border-radius: 13px;
      }
    }

    .next-project {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    .next-name .gradient {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
      position: absolute;
      left: 0;
      top: 0;
    }

    .next-container {
      width: 100%;
      height: 45vh;
      position: relative;
      cursor: pointer;
      border-radius: 13px;
      overflow: hidden;
      border: solid rgba(209, 209, 209, 0.5)1px;
      transition: cubic-bezier(0.65, 0, 0.35, 0.95) 0.4s;

      &:active {
        transform: scale(.98);
      }

      .next-name {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem min(4rem, 5vw) 4rem min(4rem, 5vw);
        background-color: rgba(0, 0, 0, 0.5);
        transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      }

      .next-image {
        background-color: #575757;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      }

      &:hover {
        .next-name {
          background-color: rgba(0, 0, 0, 0.3);
        }

        img {
          transform: scale(1.03);
        }
      }
    }
  }

  .back {
    position: absolute;
    top: 2rem;
    right: min(4rem, 5vw);
    padding: 1px 1em 0 1em;
    z-index: 300;
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: 300;
    font-size: 14px;
  }
}

.project.open {
  padding-top: 2rem;
  width: min(90%, 90rem);

  .card {
    height: calc(100vh - 2rem);
    border-radius: 13px 13px 0 0;
    border: solid 0px #2e2e2e;
    border-color: transparent;
    cursor: auto;

    .number {
      opacity: 0;
    }
  }

  .blur {
    backdrop-filter: blur(40px);
    background-color: rgb(32 32 32 / 88%);
    height: 100%;
    overflow-x: hidden;
  }

  .gradient {
    opacity: 0;
  }

  .next-name .gradient {
    opacity: 0.5;
  }

  .back {
    opacity: 1;
  }

  .project-detail {
    opacity: 1;
    transition-delay: 0;
  }
}

#project-container.landing .project.open {
  width: calc(min((100%) * 0.9, 90rem));
  //transform: translateX(5px) !important;

  .card {
    clip-path: none !important;
  }

  .back {
    animation: show-back cubic-bezier(0.65, 0, 0.35, 0.95) 1s forwards;
  }

  @keyframes show-back {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

#project-container {
  .next-title {
    height: 22px;
  }

  margin: auto;
}

.project.next {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  width: min((100% - 10px) * 0.8, 70rem);
  width: min((80% - 10px), 70rem);
  padding-top: 4rem;

  .card {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    height: 70vh;
    margin: auto;
    border-radius: 0;
  }

  .back {
    opacity: 0;
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  }


  .card-content {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    padding: 0;
    position: absolute;
    bottom: 0;
    animation: no-scrollbar cubic-bezier(0.65, 0, 0.35, 1) 0.8s;

    @keyframes no-scrollbar {
      0% {
        margin-right: 10px;
      }

      100% {
        margin-right: 0;
      }
    }

    .project-image {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
      opacity: 0;
    }
  }

  .next-project {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    gap: 0;

    .next-title {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
      height: 0;
      opacity: 0;
    }

    .next-name {
      .gradient {
        opacity: 1;
      }

      .number {
        opacity: 1;
      }
    }

    .next-container {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      height: 70vh;
      cursor: auto;
      border-radius: 0;
      border: solid rgba(209, 209, 209, 0) 1px;

      &:hover {
        .next-name {
          background-color: rgba(0, 0, 0, 0);
        }

        img {
          transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
          transform: scale(1);
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .project-about {
    grid-template-columns: 40% 1fr;
  }
}

@media (min-width: 700px) {
  .about-sub {
    grid-template-columns: 1fr 1fr;
  }

  .project.close {
    transform: translateX(-5px) !important;
  }
}

@media (max-width: 700px) {
  .project .card-content {
    padding-right: min(4rem, 5vw);
  }

  .project.next {
    width: min(100% * 0.8, 70rem);
    width: min(80%, 70rem);

    .card {
      height: 60vh;
    }

    .card-content {
      animation: none;
    }

    .next-project .next-container {
      height: 60vh;
    }
  }
}

@media (max-width: 400px) {
  .website-btn {
    width: 100%;

    .button {
      width: 100%;
      justify-content: center;
    }
  }
}