#ido {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
  margin: min(8rem, 20vw) 0;
  overflow: hidden;

  .ido-title {
    font-size: min(5rem, 12vw);
    //text-align: right;
    font-weight: 200;
    padding: 4rem max(10%, calc((100% - 70rem) / 2));
    padding-bottom: 10rem;
    color: #AD8E94;
    line-height: 0.8;
  }

  .ido-content {
    padding: 0 max(10%, calc((100% - 70rem) / 2));
    padding-bottom: 10rem;
    max-width: 75rem;
    font-weight: 300;
  }

  .ido-container {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    border-bottom: 1px solid #4b4b4b;
    padding: 2.5rem max(10%, calc((100% - 70rem) / 2));
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    gap: 0;
    transform-origin: top;

    .expand {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      height: 0;
    }

    &.open {
      gap: 3rem;
    }
  }

  .title {
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2rem;
    grid-template-columns: 1fr 3rem;

    .img-plus {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      opacity: 0.8;

      line {
        stroke: #8E94AD;
      }

      &.open {
        transform: rotate(-45deg);
      }
    }

    h2 {
      line-height: 1em;
      padding-bottom: 0.2em;
      font-size: min(60px, 10vw);
      color: #8E94AD;
      color: #929bbf;
      word-break: break-word;

    }

    p {
      position: absolute;
      top: 100%;
      margin-top: 3rem;
      padding-bottom: 1rem;
      font-weight: 300;
    }
  }
}