#ido {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
  margin-bottom: min(4rem, 10vw);
  overflow: hidden;
  margin-top: 8rem;
  gap: 8rem;

  >div:first-child {
    height: calc(100vh - 4rem);
    height: calc(100svh - 4rem);
    display: flex;
    align-items: center;
  }

  >div:last-child {
    margin-bottom: 8rem;
  }

  .ido-content {
    font-weight: 300;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: min(80%, 70rem);
    margin: auto;

    h2 {
      text-wrap: balance;

      &.head {
        font-size: min(5rem, 9vw);
        font-weight: 500;
      }
    }

    .sub {
      width: min(80vw, 40rem);
      align-self: end;
    }
  }

  @media (max-width: 700px) {
    .ido-content {
      padding: 0rem 0 6rem 0;

      .sub {
        flex-direction: column;
      }
    }
  }

  .ido-container {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    border-bottom: 1px solid #4b4b4b;
    padding: 2.5rem max(10%, calc((100% - 70rem) / 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    gap: 0;
    transform-origin: top;

    &:hover {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.5s;
      background-color: rgb(34, 34, 34);

      h2 {
        transform: translateX(1rem);
      }

      .img {
        transform: translateX(-1rem);
      }
    }

    &.open {
      gap: 3rem;

      h2 {
        transform: translateX(1rem);
      }

      .img {
        transform: translateX(-1rem);
      }
    }

    >div {
      max-width: 60rem;
      width: 100%;
    }

    h2,
    .img {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    }

    .expand {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
      height: 0;
    }
  }

  .title {
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2rem;
    grid-template-columns: 1fr 33px;

    .img-plus {
      transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;

      line {
        stroke: #AEAE9D;
      }

      &.open {
        transform: rotate(-45deg);
      }
    }

    h2 {
      line-height: 1em;
      padding-bottom: 0.2em;
      font-size: min(50px, 8vw);
      color: #AEAE9D;
      text-wrap: balance;
      font-weight: 400;
    }

    p {
      position: absolute;
      top: 100%;
      margin-top: 3rem;
      padding-bottom: 1rem;
      font-weight: 300;
      padding: 0 1rem;
    }
  }
}