#contact {
  width: 100%;
  overflow: hidden;

  >div {
    width: min(80%, 70rem);
    min-height: calc(100vh - 4rem);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    gap: min(2.5rem, 5vw);
    padding: min(7rem, 10vw) 0;
    margin-top: 4rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  gap: 2rem;
  justify-content: space-between;

  &.disabled * {
    pointer-events: none;
  }
}

.form-title,
.thanks {
  line-height: 0.4em;
  transform: translateX(-6px);
  margin-bottom: 0.3em;
}

.thanks {
  color: #8E94AD;
  font-size: min(60px, 10vw);
}

.form-item {
  display: flex;
  flex-direction: column;
}

#form-name {
  text-transform: capitalize;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  opacity: 0.8;
}

.contact-info>div {
  display: flex;
  gap: 1rem 2rem;
}

.mailnphone {
  flex-direction: column;
  width: fit-content;
  flex-wrap: wrap;
}

#contact textarea,
#contact input {
  width: 100%;
  resize: none;
}

#contact button {
  width: fit-content;
}

.submit {
  transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
  gap: 0;

  .loading {
    transition: cubic-bezier(0.65, 0, 0.35, 1) 0.8s;
    opacity: 0;
  }
}

.submit.submitting {
  gap: 1em;
  padding-left: calc(2.75em + 24px);
  background-color: rgb(77 77 77 / 70%);
  pointer-events: none;
  cursor: default;

  .loading {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  #contact>div {
    grid-template-columns: 1fr;
  }

  .form-title {
    line-height: 1em;
  }

  .sent {
    justify-content: center;
  }

  .contact-info {
    margin-top: 3rem;
  }

  .contact-info .links {
    justify-content: space-between;
  }

  .mailnphone {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  #contact button {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .mailnphone {
    justify-content: space-between;
  }
}